@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.main {
  z-index: -1000;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(linear, rgba(2, 0, 36, 0) 0, #141414 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.2;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: 
    radial-gradient(at 27% 37%, hsla(215, 98%, 25%, 1) 0px, transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 28%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 25%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 30%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 33%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 33%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 30%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}


.underline_animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.underline_animation::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(0, 153, 255);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.underline_animation:hover::after {
  transform: scaleX(1);
}

.underline_blue {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.underline_blue::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(0, 153, 255);
}


.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}


.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

*::-webkit-scrollbar{
  width: 0.25rem;
}

*::-webkit-scrollbar-track{
  background: transparent;
  margin-block: 0.5rem;
  border-radius: 100vw;
}

*::-webkit-scrollbar-thumb{
  background: linear-gradient(blue, cyan);
  border-radius: 25vw;
}

*::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(#8EEDF7, cyan);
}